  <form class="contact-form" action="https://formspree.io/edward.latimore@gmail.com" method="POST">

    <div class="name-div">
      <input class="name input" type="text" id="name" name="name" required>
      <label for="name" class="label">Name</label>
    </div>

    <div class="email-div">
      <input class="email input" type="_replyto" id="email" name="email" required>
      <label for="email" class="label">Email</label>
    </div>

    <div class="message-div">
      <textarea class="message input" id="message" name="message" rows="10" required></textarea>
      <label for="message" class="label">Your message here</label>
    </div>

    <input type="hidden" name="_next" value="#">
    <input type="text" name="_gotcha" style="display:none" />

    <div class="send-div">
      <button class="send input" type="submit">Send message</button>
    </div>
  </form>
