<div class="cta-footer">

  <div class="cta cta-post">

    <h2 class="editable">Join my free newsletter!</h2>
    <p class="editable">
    </p>

    <form class="sidebar-cta" action="https://formspree.io/your@email.com" method="POST">

      <div class="name-div">
        <input class="name input" type="text" id="name" name="name" required>
        <label for="name" class="label">First name</label>
      </div>

      <div class="email-div">
        <input class="email input" type="_replyto" id="email" name="email" required>
        <label for="email" class="label">Email</label>
      </div>

      <div class="clear-div">
      </div>

      <input type="hidden" name="_next" value="#">
      <input type="text" name="_gotcha" style="display:none" />

      <div class="send-div">
        <button class="send input" type="submit">Free Updates About Self-Development!</button>
      </div>

    </form>

  </div>

</div>
