<div class="cta">

  <form class="landing-cta" action="http://jonp.us13.list-manage.com/subscribe/post" method="POST">
    <input type="hidden" name="u" value="a00c53c65a0503354fdf3b8b1">
    <input type="hidden" name="id" value="78ee76fc79">

    <div class="name-div">
      <input class="name input" type="text" id="name" name="MERGE1" required>
      <label for="name" class="label">First name</label>
    </div>

    <div class="email-div">
      <input class="email input" type="_replyto" id="email" name="MERGE0" required>
      <label for="email" class="label">Email</label>
    </div>

    <div class="clear-div">
    </div>

    <input type="hidden" name="_next" value="#">
    <input type="text" name="_gotcha" style="display:none" />

    <div class="send-div">
      <button class="send input" type="submit">Teach Me How To Win (It's Free)!</button>
    </div>

  </form>

</div>
