<section class="landing">

  <div class="landing-copy">

    <p class="landing-p editable">
      My name is <span class="red">
      Ed Latimore</span>.
      I'm a writer, physicist,
      and an <span class="red">
      undefeated heavyweight
      boxer</span>
      from the steel city.
    </p>

    <p class="landing-p editable">
      Do you want to develop a
      <span class="red">
      winner's mindset</span>?
      Sign up
      for my newsletter.
    </p>

    {% include landing-cta.html %}

  </div>

  <img class="landing-img" src="../img/latimore.png">

</section>
