<div class="cta cta-sidebar">

  <h2 class="editable">Get Free Updates!</h2>
  <p class="editable">
    Just enter your name and email below.
    I will never send you spam.
    Just high-quality content.
  </p>

  <form class="sidebar-cta" action="https://formspree.io/your@email.com" method="POST">

    <div class="name-div">
      <input class="name input" type="text" id="name" name="name" required>
      <label for="name" class="label">First name</label>
    </div>

    <div class="email-div">
      <input class="email input" type="_replyto" id="email" name="email" required>
      <label for="email" class="label">Email</label>
    </div>

    <div class="clear-div">
    </div>

    <input type="hidden" name="_next" value="#">
    <input type="text" name="_gotcha" style="display:none" />

    <div class="send-div">
      <button class="send input" type="submit">I Wanna Be A Winner!</button>
    </div>

  </form>

</div>
